/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style body*/
body {
    /* Cover full body */
    height: 100vh;
    width: 100vw;

    /* Center the container */
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(135deg, #90D1CA 0%, #90D1CA 50%, #096B68 100%);
}

/* Container box styling */
.container {
    width: 90%;
    max-width: 400px;
    padding: 30px;

    /* Makes container looks glass */
    background: #FFFFFF1A;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    
    /* Add shadow to give some deept */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    
    /* C enter the content and gap it */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


/* Title style */
.container h2 {
    color: #5E686D;
    font-size: 25px;
    transition: letter-spacing 1s ease-out;
}

.container h2:hover {
    letter-spacing: 2px;
}

/* Input box styling */
#taskInput {
    width: 100%;
    padding: 10px;

    font-size: 16px;
    
    /* Transparent border to avoid problems when focus*/
    border: 1px solid transparent;
    border-radius: 8px;

    /* Remove outline when focus */
    outline: none;
}

#taskInput:focus {
    border: 1px solid #000;
}

/* Button to add task */
#addTask {
    width: 20%;
    padding: 10px;

    background-color: #096B68;
    color: #FFFBDE;
    font-weight: bold;

    border: 1px solid transparent;
    border-radius: 8px;
    
    cursor: pointer;
}

/* Button focus border */
#addTask:focus {
    border: 1px solid #000;
}